apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
        env: staging-us
        team: frontend
        tier: data
    spec:
      containers:
      - name: service
        image: python:latest
