apiVersion: apps/v1
kind: Deployment
metadata:
  name: cache-service
  labels:
    app: cache-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cache-service
  template:
    metadata:
      labels:
        app: cache-service
        env: dev-us
        team: backend
        tier: backend
    spec:
      containers:
      - name: app
        image: nginx:1.25.0
