apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments-api
  labels:
    app: payments-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payments-api
  template:
    metadata:
      labels:
        app: payments-api
        team: frontend
        tier: backend
    spec:
      containers:
      - name: worker
        image: python:latest
  priorityClassName: critical
