apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-service
  labels:
    app: api-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-service
  template:
    metadata:
      labels:
        app: api-service
        env: dev-us
        team: data
        tier: backend
    spec:
      containers:
      - name: worker
        image: node:latest
