apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-service
  labels:
    app: api-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-service
  template:
    metadata:
      labels:
        app: api-service
        env: production-us
        team: payments
        tier: data
    spec:
      containers:
      - name: service
        image: postgres:latest
